<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4" 
  xmlns:iot2="http://schemas.microsoft.com/appx/manifest/iot/windows10/2" 
  xmlns:genTemplate="http://schemas.microsoft.com/appx/developer/windowsTemplateStudio"
  IgnorableNamespaces="uap mp genTemplate desktop4 iot2">

  <Identity
    Name="D3732DC7-C394-4554-9FE5-BDC92B91ED05"
    Publisher="CN=ebenito"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="D3732DC7-C394-4554-9FE5-BDC92B91ED05" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>SuperComrprobador_UWP</DisplayName>
    <PublisherDisplayName>ebenito</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      desktop4:SupportsMultipleInstances="true"
      iot2:SupportsMultipleInstances="true"
      Executable="$targetnametoken$.exe"
      EntryPoint="SuperComrprobador_UWP.App">
      <uap:VisualElements
        DisplayName="zms-resource:AppDisplayName"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="ms-resource:AppDescription"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>

      <Extensions>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

  <genTemplate:Metadata>
    <genTemplate:Item Name="generator" Value="Windows Template Studio"/>
    <genTemplate:Item Name="wizardVersion" Version="v3.9.20351.2" />
    <genTemplate:Item Name="templatesVersion" Version="v3.9.20351.2" />
    <genTemplate:Item Name="projectType" Value="Blank" />
    <genTemplate:Item Name="framework" Value="MVVMBasic" />
    <genTemplate:Item Name="platform" Value="Uwp" />
  </genTemplate:Metadata>
</Package>
